# m h  dom mon dow   command

# openRsyncBackupScripts configuration
0 */4 * * *	~/openRsyncBackupScripts/scripts/backup_clients.sh

0 */4 * * *	~/openRsyncBackupScripts/scripts/make_snapshot.sh
0 0   * * *	~/openRsyncBackupScripts/scripts/daily_snapshot_rotate.sh
0 0   * * 0	~/openRsyncBackupScripts/scripts/weekly_snapshot_rotate.sh
0 0   1 * *	~/openRsyncBackupScripts/scripts/monthly_snapshot_rotate.sh
0 0   1 1 *	~/openRsyncBackupScripts/scripts/yearly_snapshot_rotate.sh
