# m h  dom mon dow   command

# openRsyncBackupScripts configuration
@hourly		~/openRsyncBackupScripts/scripts/backup_clients.sh

@hourly		~/openRsyncBackupScripts/scripts/make_snapshot.sh
@daily		~/openRsyncBackupScripts/scripts/daily_snapshot_rotate.sh
@weekly		~/openRsyncBackupScripts/scripts/weekly_snapshot_rotate.sh
@monthly	~/openRsyncBackupScripts/scripts/monthly_snapshot_rotate.sh
@yearly		~/openRsyncBackupScripts/scripts/yearly_snapshot_rotate.sh
